# ブラックリスト

cache/*
config/*
libraries/*
logs/*
plugins/.paper-remapped/*
plugins/bStats/*
plugins/FastAsyncWorldEdit/*
plugins/multiverse-Core/*
plugins/multiverse-Portals/*
plugins/spark/*
plugins/Terra/*
plugins/WorldGuard/*
plugins/version/*
versions/*
world/*
world**/*
.console_history
banned-ips.json
banned-players.json
commands.yml
config.yml
bukkit.yml
eula.txt
help.yml
ops.json
permissions.yml
spigot.yml
usercache.json
version_history.json
wepif.yml
whitelist.json
